.contact__title {
  margin-top: 60px;
  margin-bottom: 20px;
}

.contaact-wrapper {
  display: flex;
  gap: 10px;
}

.contact__inputs {
  width: 696px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  input,
  textarea {
    border: 1px solid #00000033;
    border-radius: 10px;
    padding: 20px 18px;
  }
  textarea {
    resize: vertical;
    height: 180px;
  }
}

.contact__inputs-top {
  display: flex;
  gap: 10px;
  width: 696px;
  input {
    width: 343px;
  }
}

.contact__btn {
  margin-left: auto;
  background-color: #7297ef;
  color: white;
  padding: 17px 30px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.96px;
  width: 145px;
}

.contact__card {
  background: #f6f6f6;
  padding: 40px 25px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-radius: 10px;
  div {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 20px;
    width: 444px;
  }
  div:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.7px;
    margin-bottom: 7px;
  }
  a {
    font-size: 16px;
    line-height: 18.96px;
  }
}
