.home_hero__img {
  margin-top: 40px;
  margin-bottom: 50px;
}

.home_hero__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 8px;
  column-gap: 10px;
}

.home_hero__card {
  padding: 20px 17px 15px;
  background-color: #f6f6f6;
  border-radius: 15px;
}

.home_hero__card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  margin-bottom: 10px;
  width: 346px;
}

.home_hero__card-describtion {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  width: 346px;
  letter-spacing: 0%;
  margin-bottom: 15px;
}

.home_hero__card-img {
  width: 359;
  height: 165;
  border-radius: 10px;
}

.home_hero__card-caption {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.home_hero__card-caption__img {
  width: 20px;
  height: 20px;
}

.home_hero__card-caption__title {
  color: #5e5f61;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.22px;
  letter-spacing: 0%;
}

/* Open Modal */

.home_hero__modal-open {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  padding: 25px 71px 25px 29px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(./home-img/home-hero-modal-bg.png);
  border-radius: 15px;
}

.home_hero__modal-open-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  width: 404px;
}

.home_hero__modal-open--btn {
  background-color: #f78b3b;
  color: #fff;
  padding: 13px 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.7px;
  letter-spacing: 0%;
  border-radius: 10px;
}

.modal {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerDiv {
  padding: 50px 169px;
  background-color: #fff;
  max-width: 850px;
  position: relative;
  text-align: center;
  border-radius: 20px;
}

.modal__title {
  margin-bottom: 25px;
}

.modal__close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: 0;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

/* Mire section */

.mire__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.44px;
}

.mire__wrapper {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: start;
}

.mire__wrapper-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mire__wrapper-reloader {
  border-radius: 10px;
  padding: 17px 343px;
  font-weight: 600;
  color: #000;
}

.mire__wrapper-right__img {
  margin-top: 10px;
}
