@import "tailwindcss";
@plugin "daisyui";

@layer components {
  .main-container {
    @apply max-w-6xl w-full mx-auto px-4;
  }
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
